@import url(./base.css);

body html{
    height: 100vh;
    width: 100vw;
}

body{
    background: var(--bg-color);
    color: var(--font-color);
}

main section{
    height: 100vh;
    padding-top: 120px;
}

.portfolio{
    display: flex;
    padding-left: 80px;
    padding-right: 80px;
    /* gap: 16px; */
}

.portfolio-section{
    width: 33%;
    /* gap: 16px; */
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 2px solid var(--accent-color);
}

.portfolio-section a{
    border: 1px solid var(--accent-color);
    margin: 0;
    height: 80px;
    color: var(--font-color);
    text-align: center;
    text-decoration: none;
}