@import url(./base.css);

body{
    background: var(--bg-color);
    color: var(--font-color);
}

main {
    padding-left: 80px;
    padding-right: 80px;
    height: 100%;
    padding-top: 120px;
    padding-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

section{
    width: 30%;
    height: 400px;
    border-radius: 16px;
    border: 2px solid var(--accent-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section a {

}